<div class="row">
  <aside class="col-md-4">
    <section class="question_info">
      <h1>
        <p>QUESTION:</p>
        <br/>
        <%= @question.content %>
      </h1>

      <ul class="options">
        <li>A. <%=@question.option_a%></li>
        <li>B. <%=@question.option_b%></li>
        <li>C. <%=@question.option_c%></li>
        <li>D. <%=@question.option_d%></li>
      </ul>
    </section>
  </aside>
</div>